---
layout: default
---

<div class="home">
  
  <center><h1>Our goal is to build a Counterspace</h1>
  <p>A safe and intersectional desginated space at Paul G. Allen for marginalized students. We want to build this by the start of Fall quarter of the 2022-2023 school year. We understand that's an aggressive goal, which is why all we are asking of the leadership at Paul G. Allen is to provide a designated room - we can handle the rest! We have a team of willing student volunteers that will work over summer quarter to ensure the safe space has been created on campus, with the goal of protecting our friends and peers.</p></center>
  
  <h2>Evidence-Based</h2>
    <p>Counterspaces in STEM have been shown to increase student retention through creating further student involvement and representation.</p>

  <h2>Proven-Need</h2>
    <p>A counterspace would resolve known issues on campus related to food insecurity through the creation of a donation-based pantry. It would also provide a space for students to study without fear, and would help to create peer-based study groups for marginalized students. This addresses known issues that have been presented to Director Magdalena Balazinska within the last 2 quarters of the 2021-2022 school year alone.</p>
 
  <h2>Low-Cost</h2>
    <p>As a student-led and student funded initiative, we are calling upon school leadership to merely designate a room to create this space. We want this facility now, and will work to remove anything that might prevent Paul G. Allen School from providing access to this immediately needed resource.</p>


  <h1 class="page-heading">More Info</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="post-meta"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
{% include share.html %}
